<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="../img/tfs.jpg">
      <p>{{ site.description }} <br>
<!--        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or-->
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
        <a href="https://www.linkedin.com/pub/ted-sumner/10/620/144">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Ted Sumner's profile on LinkedIn">
        
    </a>
     <a href="http://teamtreehouse.com/theodoresumner">My Treehouse profile</a>
      </p>
    </div>
  </div>
</footer>
